## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()
# Create the output file (CSV).
#output_data_file = "Vacation_Search/WeatherPy_Database.csv"

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,55.11,62,75,11.50,broken clouds
1,1,Kahului,US,20.8947,-156.4700,75.85,73,40,12.66,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,76.96,86,100,5.19,light rain
3,3,Anadyr,RU,64.7500,177.4833,7.30,84,40,6.71,light snow
4,4,Faanui,PF,-16.4833,-151.7500,82.27,72,100,12.37,overcast clouds

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kahului,US,20.8947,-156.4700,75.85,73,40,12.66,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,76.96,86,100,5.19,light rain
4,4,Faanui,PF,-16.4833,-151.7500,82.27,72,100,12.37,overcast clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,86.25,70,75,11.50,broken clouds
15,15,Victoria,HK,22.2855,114.1577,84.25,88,42,10.00,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
644,644,Bubaque,GW,11.2833,-15.8333,76.05,58,26,10.02,scattered clouds
652,652,Bandar-E Lengeh,IR,26.5579,54.8807,80.71,74,0,13.80,clear sky
655,655,Biu,NG,10.6129,12.1946,75.07,21,91,15.10,overcast clouds
657,657,San Rafael Del Sur,NI,11.8485,-86.4384,77.02,62,84,14.88,broken clouds
658,658,Kralendijk,BQ,12.1500,-68.2667,78.78,78,75,17.27,broken clouds

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                182
City                   182
Country                182
Lat                    182
Lng                    182
Max Temp               182
Humidity               182
Cloudiness             182
Wind Speed             182
Current Description    182
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kahului,US,20.8947,-156.4700,75.85,73,40,12.66,scattered clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,76.96,86,100,5.19,light rain
4,4,Faanui,PF,-16.4833,-151.7500,82.27,72,100,12.37,overcast clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,86.25,70,75,11.50,broken clouds
15,15,Victoria,HK,22.2855,114.1577,84.25,88,42,10.00,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
644,644,Bubaque,GW,11.2833,-15.8333,76.05,58,26,10.02,scattered clouds
652,652,Bandar-E Lengeh,IR,26.5579,54.8807,80.71,74,0,13.80,clear sky
655,655,Biu,NG,10.6129,12.1946,75.07,21,91,15.10,overcast clouds
657,657,San Rafael Del Sur,NI,11.8485,-86.4384,77.02,62,84,14.88,broken clouds
658,658,Kralendijk,BQ,12.1500,-68.2667,78.78,78,75,17.27,broken clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kahului,US,75.85,scattered clouds,20.8947,-156.4700,
2,Puerto Ayora,EC,76.96,light rain,-0.7393,-90.3518,
4,Faanui,PF,82.27,overcast clouds,-16.4833,-151.7500,
9,Bambous Virieux,MU,86.25,broken clouds,-20.3428,57.7575,
15,Victoria,HK,84.25,scattered clouds,22.2855,114.1577,
17,The Valley,AI,76.86,clear sky,18.2170,-63.0578,
20,Pemangkat,ID,85.55,scattered clouds,1.1667,108.9667,
24,Sao Joao Da Barra,BR,76.23,overcast clouds,-21.6403,-41.0511,
32,Rikitea,PF,79.61,clear sky,-23.1203,-134.9692,
35,Denpasar,ID,87.46,few clouds,-8.6500,115.2167,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kahului,US,75.85,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
2,Puerto Ayora,EC,76.96,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Faanui,PF,82.27,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
9,Bambous Virieux,MU,86.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
15,Victoria,HK,84.25,scattered clouds,22.2855,114.1577,Mini Hotel Central
...,...,...,...,...,...,...,...
644,Bubaque,GW,76.05,scattered clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
652,Bandar-E Lengeh,IR,80.71,clear sky,26.5579,54.8807,کافی نت پارس
655,Biu,NG,75.07,overcast clouds,10.6129,12.1946,Emir's Palace
657,San Rafael Del Sur,NI,77.02,broken clouds,11.8485,-86.4384,Hospedaje El Chino
658,Kralendijk,BQ,78.78,broken clouds,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino

In [19]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))